/* Leave some space between options */
.settings_option {
	padding-bottom: 3px;
}
/* Display GenericInputUIClass() instances in a two-column form style */
.settings_generic_input_class:not(.settings_gic_postfix_label) > input {
	float: right;
}
.settings_generic_input_class div:not(.settings_class_checkbox) > input {
	width: 15em;
}
.settings_generic_input_class > * {
	padding: 0px 2px;
}
